<app-default-layout
  titleInput="Alterar senha"
  primaryButtonText="Alterar senha"
  secondaryButtonText="Voltar para a página de login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryButton]="!newPasswordForm.valid"
>
  <form [formGroup]="newPasswordForm">
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
      placeholder="Insira a sua senha"
    >
      <img src="/assets/svg/lock-icon.svg" alt="">
    </app-primary-input>
    <app-primary-input
      formControlName="confirmPassword"
      inputName="confirmPassword"
      type="password"
      label="Confirme sua Senha"
      placeholder="Confirme a sua senha"
    >
      <img src="/assets/svg/lock-icon.svg" alt="">
    </app-primary-input>
  </form>
</app-default-layout>
