<main>
  <section class="formSection">
    <h2 class="textTitle">{{ titleInput }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        class="buttonPrimary"
        (click)="submit()"
        [disabled]="disablePrimaryButton"
      >
        {{ primaryButtonText }}
      </button>
      <div class="divider">
        <div></div>
        <span>OU</span>
        <div></div>
      </div>
      <button class="buttonSecondary" (click)="navigate()">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="mainSection">
    <img src="/assets/svg/image.svg" alt="Image">
  </section>
</main>
