<main>
  <section class="formSection">
    <img src="/assets/svg/logo.svg" alt="Logo" title="Logo">
    <h2>{{ titleInput }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
        class="buttonPrimary"
        (click)="submit()"
        [disabled]="disablePrimaryButton"
      >
        {{ primaryButtonText }}
      </button>
      <div class="divider">
        <div></div>
        <span>OR</span>
        <div></div>
      </div>
      <button class="buttonSecondary" (click)="navigate()">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="mainSection">
    <h1>You Should, MoveIt!</h1>
    <img src="/assets/svg/Delivery.svg" alt="Image" title="Image">
  </section>
</main>
