<app-default-layout
  titleInput="Login into your account"
  primaryButtonText="Login Now"
  secondaryButtonText="Signup Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryButton]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Insira o seu email"
    >
      <img src="/assets/svg/email-icon.svg" alt="">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
      placeholder="Insira a sua senha"
    >
      <img src="/assets/svg/lock-icon.svg" alt="">
    </app-primary-input>
    <a href="">Esqueceu a senha?</a>
  </form>
</app-default-layout>
